# Byte-compiled / cache / temp files
__pycache__/
*.py[cod]
*.swp
*.log

# Scrapy output files
*.csv
*.json
*.jl
*.xml

# Checkpoints and temporary results
*.db
*.sqlite
*.tmp

# OS and editor files
.DS_Store
Thumbs.db

# Scrapyd logs and deployment stuff (если используешь)
.scrapy/
.deploy/

# VSCode or IDE folders
.vscode/
.idea/

# Virtual environment
venv/
.env